@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Space Grotesk", "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #030508;
  color: #ffffff;
}

body {
  min-height: 100vh;
  background-color: #030508;
}

@layer utilities {
  .bg-sui-black {
    --tw-bg-opacity: 1;
    background-color: rgb(3 5 8 / var(--tw-bg-opacity));
  }

  .bg-sui-dark-gray {
    --tw-bg-opacity: 1;
    background-color: rgb(9 12 18 / var(--tw-bg-opacity));
  }

  .text-sui-blue {
    --tw-text-opacity: 1;
    color: rgb(115 210 255 / var(--tw-text-opacity));
  }

  .bg-sui-blue {
    --tw-bg-opacity: 1;
    background-color: rgb(115 210 255 / var(--tw-bg-opacity));
  }

  .text-sui-green {
    --tw-text-opacity: 1;
    color: rgb(102 246 163 / var(--tw-text-opacity));
  }

  .bg-sui-green {
    --tw-bg-opacity: 1;
    background-color: rgb(102 246 163 / var(--tw-bg-opacity));
  }

  .text-sui-yellow {
    --tw-text-opacity: 1;
    color: rgb(247 240 138 / var(--tw-text-opacity));
  }

  .bg-sui-yellow {
    --tw-bg-opacity: 1;
    background-color: rgb(247 240 138 / var(--tw-bg-opacity));
  }

  .border-sui-green {
    --tw-border-opacity: 1;
    border-color: rgb(102 246 163 / var(--tw-border-opacity));
  }

  .bg-sui-blue\/10 {
    background-color: rgb(115 210 255 / 0.1);
  }

  .bg-sui-green\/10 {
    background-color: rgb(102 246 163 / 0.1);
  }

  .bg-sui-yellow\/10 {
    background-color: rgb(247 240 138 / 0.1);
  }

  .text-sui-blue\/80 {
    color: rgb(115 210 255 / 0.8);
  }

  .animate-spin-slow {
    animation: spin 6s linear infinite;
  }
}
